<h1 class="text-center">Contato</h1>
<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>
<form name="contatoForm">
    <div class="form-group">
        <label for="name">Nome Completo</label>
        <input id="nome" name="nome" type="text" class="form-control" required ng-model="contato.nome">
        <p ng-show="contatoForm.nome.$invalid && !contatoForm.nome.$pristine" class="help-block">O campo nome é obrigatório.</p>
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <div class="input-group">
            <span class="input-input-group-addon">@</span>
            <input id="email" name="email" type="email" class="form-control" required ng-model="contato.email">
            <p ng-show="contatoForm.email.$invalid && !contatoForm.email.$pristine" class="help-block">O campo e-mail é obrigatório.</p>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="#/" class="btn btn-default">Voltar</a>
</form>