<!DOCTYPE HTMl>
<html>

<head>
    <title>Página não encontrada</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../vendor/404-pages/css/style.css" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css' />    
</head>

<body>
    <div class="wrap">
        <h1>Contatooh</h1>
        <div class="banner">
            <img src="../vendor/404-pages/images/fuel-404-logo.png" alt="" />
        </div>
                       
        <div class="search">
            <form>
                <input type="text" value="" placeholder="Retornar para página inicial" />
                <input type="submit" " value=" " />
			</form>
				</div>
			<div class="copy ">
	    		<p>Design by <a href="http://w3layouts.com ">w3layouts</a></p>
	    	</div>
			</div>	    	
</body>
</html>